{% extends "base.html" %}
{% block content %}

<div class="row" style="border: 1px solid #ddd;
    margin-top: 50px;">
    <div class="col-md-6 p-0">
        <img style="display:block; overflow: hidden; width:100%;"
             src="{{ url_for('static', filename='images/logo.jpg') }}"
             alt="Home Page">
    </div>

    <div class="col-md-6" style="padding:10px;">
        <h2 class="mb-3">Welcome!</h2>
        <p>Welcome to Tax Education Centre [TEC].</p>
        <p>TEC is working hard to make the tax related information (especially income tax related information) easier to the taxpayers, tax officials and professionals so that they can discharge their responsibility easily and smoothly, so that they can implement the tax laws unanimously and so that they can make a solid bridge between the taxpayers and tax officials. TEC has been updating and publishing Income Tax Act, 2023 and related explanations since 2024.</p>
        <p>As a part of continuous effort, TEC developed a software (better to call it as ‘search engine’) that helps you access, organize and track last 10 years (since 2015) act, rules, SROs, regulations, circulars, etc. making compliance simpler and faster.</p>
        <p>Good Luck!</p>
        <p>Tax Education Centre [TEC]</p>
    </div>
</div>

{% endblock %}
